[submodule "bitchia-blockchain-gui"]
	path = bitchia-blockchain-gui
	url = https://github.com/thinkboxx/bitchia-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/BitChia-Network/mozilla-ca.git
